
h2,
h3 {
  color: rgb(1, 0, 0);
}

#Game{
  text-align: center;
  background-color: rgb(35, 164, 65); 
  height: fit-content;
  margin-left: 20%;
  margin-right: 20%;
  align-content: center;
}

#board table {
  border-collapse: collapse;
  font-size: 150%;
  font-family: san-serif;
  font-weight: bold;
  display: inline-block;
}

#board table td {
  background-color: rgb(83, 83, 83);
  width: 30px;
  min-width: 10px;
  height: 35px;
  min-height: 30px;
  border: 1px solid black;
  box-shadow: inset 3px 3px 0 0 rgba(255, 255, 255, 0.5),
    inset -3px -3px 0 0 rgba(0, 0, 0, 0.5);
}

button {
  width: 100px;
  height: 30px;
  background-color: rgb(195, 195, 195);
  color: black;
  font-weight: bolder;
  border-radius: 20px 20px 20px 20px;
  box-shadow: inset 3px 3px 0 0 rgba(255, 255, 255, 0.5),
    inset -3px -3px 0 0 rgba(0, 0, 0, 0.5);
}
div#TimeScore{
  margin: auto;
  padding: 10px;
  text-align: center;
  width: fit-content;
  background-color: #D9D9D9;
  border: 1px solid black;
  box-shadow: inset -3px -3px 0 0 #FFFFFF,
    inset 3px 3px 0 0 rgba(0, 0, 0, 0.5);
 
}

div.Timer_Screen {
  height: 25px;
  width: 1.64em;
  display: inline-block;
  font-family: "Cursed Timer ULiL";
  margin: 10px;
  border: 1px inset #eeeeee;
  padding-right: 3px;
  background-color: #000000;
  color: #ff6666;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
div.Emoji {
  display: inline-block;
}

div img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 1px inset #000000;
  width: 1.75em;
  color: #ff6666;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: right;
}
div.Mines_Screen {
  height: 25px;
  display: inline-block;
  font-family: "Cursed Timer ULiL";
  margin: 10px;
  border: 1px inset #eeeeee;
  padding-right: 3px;
  width: 1.60em;
  background-color: #000000;
  color: #ff6666;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

#board table td.mine{
  width: 30px;
  min-width: 10px;
  height: 35px;
  min-height: 30px;
  background-color: #ff6666;
  font-weight: 400;
  color: #000000;
  border: 1px solid black;
  box-shadow: inset -3px -3px 0 0 rgba(255, 254, 254, 0.5),
    inset 3px 3px 0 0 rgba(0, 0, 0, 0.5);
  
}

#board table td.number{
  background-color: rgb(128, 127, 127);
  width: 30px;
  min-width: 10px;
  height: 35px;
  min-height: 30px;
  border: 1px solid black;
  box-shadow: inset -3px -3px 0 0 rgba(255, 254, 254, 0.5),
  inset 3px 3px 0 0 rgba(0, 0, 0, 0.5);
}
